/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './cards';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-weight: bold;
  margin: 0;
  display: inline-block;
}
